registry=https://registry.yarnpkg.com
@ak:registry=http://registry.admitkard.net
@admitkard:registry=https://npm.pkg.github.com/
//registry.admitkard.net/:_authToken="8852sbmXexKtoGA+szkvphe/+8GQMkBusCd2CEpoi78="
//npm.pkg.github.com/:_authToken=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
